Repository MODSetter/SurfSense: changes, and which pre-commit hooks are due for each by the changed paths.
All: typescript-check-web, typescript-check-extension

typescript-check-web:
  name: TypeScript Check (Web)
  entry: bash -c 'cd surfsense_web && (command -v pnpm >/dev/null 2>&1 && pnpm build --dry-run || npx next build --dry-run)'
  language: system
  pass_filenames: false

typescript-check-extension:
  name: TypeScript Check (Browser Extension)
  entry: bash -c 'cd surfsense_browser_extension && npx tsc --noEmit'
  language: system
  pass_filenames: false

update connector indexing / update connector service
  surfsense_backend/app/agents/researcher/nodes.py
  surfsense_backend/app/agents/researcher/qna_agent/prompts.py
  surfsense_backend/app/connectors/test_jira_connector.py
  surfsense_backend/app/routes/search_source_connectors_routes.py
  surfsense_backend/app/schemas/search_source_connector.py
  surfsense_backend/app/services/connector_service.py
  surfsense_backend/app/tasks/connectors_indexing_tasks.py
Due: none

update auth type
  surfsense_backend/app/connectors/jira_connector.py
  surfsense_backend/app/connectors/test_jira_connector.py
  surfsense_backend/app/schemas/search_source_connector.py
  surfsense_backend/app/tasks/connectors_indexing_tasks.py
  surfsense_web/app/dashboard/[search_space_id]/connectors/[connector_id]/edit/page.tsx
  surfsense_web/app/dashboard/[search_space_id]/connectors/add/jira-connector/page.tsx
Due: typescript-check-web

fix issues indexing with jira connector
  node_modules/.cache/prettier/.prettier-caches/a2ecb2962bf19c1099cfe708e42daa0097f94976.json
  surfsense_backend/app/connectors/jira_connector.py
  surfsense_backend/app/tasks/connectors_indexing_tasks.py
  surfsense_web/app/dashboard/[search_space_id]/documents/(manage)/page.tsx
Due: typescript-check-web

Minor fixes and renaming to new chat ui components
  surfsense_web/components/chat_v2/ChatFurtherQuestions.tsx
  surfsense_web/components/chat_v2/ChatInputGroup.tsx
  surfsense_web/components/chat_v2/ChatInterface.tsx
  surfsense_web/components/chat_v2/ChatMessages.tsx
  surfsense_web/components/chat_v2/ChatTerminal.tsx
  surfsense_web/components/ui/accordion.tsx
  surfsense_web/package.json
  surfsense_web/pnpm-lock.yaml
Due: typescript-check-web

Minor fixes to package.json
  surfsense_web/package.json
Due: none

WIP: on the codebase
  surfsense_backend/README.md
  surfsense_backend/app/agents/podcaster/graph.py
  surfsense_backend/app/agents/podcaster/nodes.py
  surfsense_backend/app/config/__init__.py
  surfsense_backend/app/services/dia_service.py
  surfsense_backend/pyproject.toml
Due: none

Formattting for enw chat components
  surfsense_web/app/dashboard/[search_space_id]/v2/[[...chat_id]]/page.tsx
  surfsense_web/components/chat_v2/ChatCitation.tsx
  surfsense_web/components/chat_v2/ChatFurtherQuestions.tsx
  surfsense_web/components/chat_v2/ChatInputGroup.tsx
  surfsense_web/components/chat_v2/ChatInterface.tsx
  surfsense_web/components/chat_v2/ChatMessages.tsx
  surfsense_web/components/chat_v2/ChatSources.tsx
  surfsense_web/components/chat_v2/ChatTerminal.tsx
  surfsense_web/components/chat_v2/DocumentsDataTable.tsx
Due: typescript-check-web

Replacing researcher chat components with new chat page and components
  surfsense_web/app/dashboard/[search_space_id]/researcher/[[...chat_id]]/page.tsx
  surfsense_web/app/dashboard/[search_space_id]/researcher/[chat_id]/page.tsx
  surfsense_web/app/dashboard/[search_space_id]/researcher/page.tsx
  surfsense_web/components/chat/ChatCitation.tsx
  surfsense_web/components/chat/ChatFurtherQuestions.tsx
  surfsense_web/components/chat/ChatInputGroup.tsx
  surfsense_web/components/chat/ChatInterface.tsx
  surfsense_web/components/chat/ChatMessages.tsx
  surfsense_web/components/chat/ChatSources.tsx
  surfsense_web/components/chat/ChatTerminal.tsx
  surfsense_web/components/chat/DocumentsDataTable.tsx
  surfsense_web/components/chat/connector-sources.ts
Due: typescript-check-web

Fixed link for chat re-route
  surfsense_web/app/dashboard/[search_space_id]/researcher/[[...chat_id]]/page.tsx
Due: typescript-check-web

Fixed: Data table selction on filter & added jira connector
  node_modules/.cache/prettier/.prettier-caches/37bd945444dc76999f7aface662ff267baf1dbca.json
  surfsense_web/components/chat/DocumentsDataTable.tsx
  surfsense_web/hooks/use-documents.ts
Due: typescript-check-web

fix: when nothing is selected for context
  surfsense_backend/app/agents/researcher/nodes.py
Due: none

update lock
  .gitignore
  surfsense_web/pnpm-lock.yaml
Due: none

fix: gitignore
  .gitignore
Due: none

update document type and search source type enums
  surfsense_backend/app/db.py
Due: none

add confluence connector
  surfsense_backend/app/connectors/confluence_connector.py
Due: none

suppport confluence pages indexing
  surfsense_backend/app/tasks/connectors_indexing_tasks.py
Due: none

update search source connector schame
  surfsense_backend/app/schemas/search_source_connector.py
Due: none

Add migration file
  surfsense_backend/alembic/versions/14_add_confluence_connector_enums.py
Due: none

Add UI implementations
  surfsense_backend/app/routes/search_source_connectors_routes.py
  surfsense_web/app/dashboard/[search_space_id]/connectors/[connector_id]/edit/page.tsx
  surfsense_web/app/dashboard/[search_space_id]/connectors/add/confluence-connector/page.tsx
  surfsense_web/app/dashboard/[search_space_id]/connectors/add/page.tsx
  surfsense_web/app/dashboard/[search_space_id]/documents/(manage)/page.tsx
  surfsense_web/components/editConnector/types.ts
  surfsense_web/hooks/useConnectorEditPage.ts
Due: typescript-check-web

wIP: update the readme
  .gitignore
  README.md
Due: none

update confluence icon in documents
  node_modules/.cache/prettier/.prettier-caches/37bd945444dc76999f7aface662ff267baf1dbca.json
  node_modules/.cache/prettier/.prettier-caches/a2ecb2962bf19c1099cfe708e42daa0097f94976.json
  surfsense_web/app/dashboard/[search_space_id]/documents/(manage)/page.tsx
Due: typescript-check-web

feat: add react-rough-notation dependency and update chat components for improved UI
  surfsense_web/components/chat/AnimatedEmptyState.tsx
  surfsense_web/components/chat/ChatFurtherQuestions.tsx
  surfsense_web/components/chat/ChatMessages.tsx
  surfsense_web/hooks/useChat.ts
  surfsense_web/package.json
  surfsense_web/pnpm-lock.yaml
Due: typescript-check-web

fix: codeblock
  surfsense_web/components/chat/ChatMessages.tsx
  surfsense_web/components/chat/CodeBlock.tsx
  surfsense_web/components/chat/index.ts
Due: typescript-check-web

fix: optimized to reduce rerenders
  surfsense_web/components/chat/AnimatedEmptyState.tsx
  surfsense_web/components/chat/CodeBlock.tsx
Due: typescript-check-web

Added config for biome.js
  .vscode/settings.json
  surfsense_web/biome.json
  surfsense_web/package.json
Due: none

Added config for biome.js
  .pre-commit-config.yaml
Due: none

update the prompt to add CONFLUENCE knowledge source
  surfsense_backend/app/agents/researcher/qna_agent/prompts.py
Due: none

fix the confluence search implemetation
  surfsense_backend/app/agents/researcher/nodes.py
  surfsense_backend/app/connectors/confluence_connector.py
  surfsense_backend/app/services/connector_service.py
Due: none

add relevant coderrabit suggestions
  surfsense_backend/app/agents/researcher/nodes.py
  surfsense_backend/app/connectors/confluence_connector.py
  surfsense_backend/app/routes/search_source_connectors_routes.py
  surfsense_backend/app/schemas/search_source_connector.py
  surfsense_backend/app/services/connector_service.py
  surfsense_backend/app/tasks/connectors_indexing_tasks.py
  surfsense_web/hooks/useConnectorEditPage.ts
Due: typescript-check-web

Biome: fixes for hooks & lib directory
  surfsense_web/hooks/index.ts
  surfsense_web/hooks/use-api-key.ts
  surfsense_web/hooks/use-documents.ts
  surfsense_web/hooks/use-llm-configs.ts
  surfsense_web/hooks/use-logs.ts
  surfsense_web/hooks/use-search-spaces.ts
  surfsense_web/hooks/useChat.ts
  surfsense_web/hooks/useConnectorEditPage.ts
  surfsense_web/hooks/useSearchSourceConnectors.ts
  surfsense_web/lib/source.ts
Due: typescript-check-web

Biome: fixes for app/(api, login, onboard, register, settings) directories
  surfsense_web/app/api/search/route.ts
  surfsense_web/app/login/AmbientBackground.tsx
  surfsense_web/app/login/GoogleLoginButton.tsx
  surfsense_web/app/login/LocalLoginForm.tsx
  surfsense_web/app/login/page.tsx
  surfsense_web/app/onboard/page.tsx
  surfsense_web/app/register/page.tsx
  surfsense_web/app/settings/page.tsx
Due: typescript-check-web

Biome: fixes for app/dashboard/(api-key, searchspaces) directories
  surfsense_web/app/dashboard/api-key/api-key-client.tsx
  surfsense_web/app/dashboard/api-key/client-wrapper.tsx
  surfsense_web/app/dashboard/api-key/page.tsx
  surfsense_web/app/dashboard/layout.tsx
  surfsense_web/app/dashboard/page.tsx
  surfsense_web/app/dashboard/searchspaces/page.tsx
  surfsense_web/next.config.ts
Due: typescript-check-web

Biome: fixes for app/dashboard/search_pace_id pages
  surfsense_web/app/dashboard/[search_space_id]/chats/chats-client.tsx
  surfsense_web/app/dashboard/[search_space_id]/client-layout.tsx
  surfsense_web/app/dashboard/[search_space_id]/connectors/(manage)/page.tsx
  surfsense_web/app/dashboard/[search_space_id]/connectors/[connector_id]/edit/page.tsx
  surfsense_web/app/dashboard/[search_space_id]/connectors/[connector_id]/page.tsx
  surfsense_web/app/dashboard/[search_space_id]/connectors/add/discord-connector/page.tsx
  surfsense_web/app/dashboard/[search_space_id]/connectors/add/github-connector/page.tsx
  surfsense_web/app/dashboard/[search_space_id]/connectors/add/jira-connector/page.tsx
  surfsense_web/app/dashboard/[search_space_id]/connectors/add/linear-connector/page.tsx
  surfsense_web/app/dashboard/[search_space_id]/connectors/add/linkup-api/page.tsx
  surfsense_web/app/dashboard/[search_space_id]/connectors/add/notion-connector/page.tsx
  surfsense_web/app/dashboard/[search_space_id]/connectors/add/page.tsx
  surfsense_web/app/dashboard/[search_space_id]/connectors/add/serper-api/page.tsx
  surfsense_web/app/dashboard/[search_space_id]/connectors/add/slack-connector/page.tsx
  surfsense_web/app/dashboard/[search_space_id]/connectors/add/tavily-api/page.tsx
  surfsense_web/app/dashboard/[search_space_id]/documents/(manage)/page.tsx
  surfsense_web/app/dashboard/[search_space_id]/documents/upload/page.tsx
  surfsense_web/app/dashboard/[search_space_id]/documents/webpage/page.tsx
  surfsense_web/app/dashboard/[search_space_id]/documents/youtube/page.tsx
  surfsense_web/app/dashboard/[search_space_id]/logs/(manage)/page.tsx
  surfsense_web/app/dashboard/[search_space_id]/podcasts/podcasts-client.tsx
  surfsense_web/components/chat/DocumentsDataTable.tsx
Due: typescript-check-web

Biome: fixes for eslint config
  surfsense_web/eslint.config.mjs
Due: none

Biome: Fixes for extenstion repo
  surfsense_browser_extension/.prettierrc.mjs
  surfsense_browser_extension/background/index.ts
  surfsense_browser_extension/background/messages/savedata.ts
  surfsense_browser_extension/background/messages/savesnapshot.ts
  surfsense_browser_extension/biome.json
  surfsense_browser_extension/content.ts
  surfsense_browser_extension/font.css
  surfsense_browser_extension/lib/utils.ts
  surfsense_browser_extension/package.json
  surfsense_browser_extension/pnpm-lock.yaml
  surfsense_browser_extension/popup.tsx
  surfsense_browser_extension/postcss.config.js
  surfsense_browser_extension/routes/index.tsx
  surfsense_browser_extension/routes/pages/ApiKeyForm.tsx
  surfsense_browser_extension/routes/pages/HomePage.tsx
  surfsense_browser_extension/routes/pages/Loading.tsx
  surfsense_browser_extension/routes/ui/button.tsx
  surfsense_browser_extension/routes/ui/command.tsx
  surfsense_browser_extension/routes/ui/dialog.tsx
  surfsense_browser_extension/routes/ui/label.tsx
  surfsense_browser_extension/routes/ui/popover.tsx
  surfsense_browser_extension/routes/ui/toast.tsx
  surfsense_browser_extension/routes/ui/toaster.tsx
  surfsense_browser_extension/routes/ui/use-toast.tsx
  surfsense_browser_extension/tailwind.config.js
  surfsense_browser_extension/tailwind.css
  surfsense_browser_extension/tsconfig.json
  surfsense_browser_extension/utils/commons.ts
  surfsense_browser_extension/utils/interfaces.ts
Due: typescript-check-extension

Biome: Pre-commit fix
  .github/workflows/code-quality.yml
  .pre-commit-config.yaml
  biome.json
Due: none

Biome: Pre-commit workflow fix
  .github/workflows/code-quality.yml
Due: none

Biome: Pre-commit workflow fix (replaced npm to pnpm)
  .github/workflows/code-quality.yml
Due: none

Path conditions:
  typescript-check-web: any of: ^surfsense_web/.*\.(ts|tsx)$
  typescript-check-extension: any of: ^surfsense_browser_extension/.*\.(ts|tsx)$
